* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    gap: 12.5vh;

    /* Mobile Support */
    @media (max-width: 768px) {
        overflow-y: auto;

        width: 100%;
        height: 100%;
        gap: 0;
    }
}

.top-border-line {
    width: 25%;
    height: 18px;

    position: fixed;
    top: 0;
    right: 0;

    background: #fdbd03 0% 0% no-repeat padding-box;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 85%;
        height: 10px;
    }
}

.whatsapp-floating-contact-area {
    width: 90px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 5vh;
    left: 2vw;

    border-radius: 50%;
    background: #fdbd03 0% 0% no-repeat padding-box;

    img {
        width: 48px;
        height: 48px;
    }

    /* Mobile Support */
    @media (max-width: 768px) {
        display: none;
    }
}

.content {
    width: 100vw;
    height: 60vh;

    margin-top: 15vh;

    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: center;

    gap: 10vw;

    /* Mobile Support */
    @media (max-width: 768px) {
        height: fit-content;
        flex-direction: column;

        gap: 0;
        margin-top: 5vh;

        /* Between the contact-us-area */
        margin-bottom: 40%;
    }

    img {
        width: fit-content;
        height: 125%;

        margin-top: -2%;

        object-fit: contain;

        /* Mobile Support */
        @media (max-width: 768px) {
            width: 25%;
            height: 25%;

            margin-inline: 37.5%;

            margin-top: 1vh;
            margin-bottom: 3vh;
        }
    }

    .text {
        width: 50%;

        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;

        /* Mobile Support */
        @media (max-width: 768px) {
            width: 80vw;
            margin-inline: 10vw;
        }

        h1 {
            width: fit-content;
            height: 97px;

            align-self: flex-end;
            color: #fdbd03;
            text-align: right;
            font: normal normal 900 66px/97px Heebo;

            /* Mobile Support */
            @media (max-width: 768px) {
                width: 100%;
                text-align: center;
                font: normal normal 900 40px/59px Heebo;
            }
        }

        p {
            width: 60%;
            align-self: flex-end;
            color: #020253;
            text-align: right;
            font: normal normal normal 20px/29px Heebo;

            /* Mobile Support */
            @media (max-width: 768px) {
                width: 80vw;
                text-align: center;
                font: normal normal normal 15px/22px Heebo;

                margin-top: -10%;
                margin-bottom: 10%;
            }
        }

        form {
            width: 100%;
            height: fit-content;

            margin-top: 2.5vh;

            display: flex;
            flex-direction: column;
            align-content: flex-end;
            justify-content: center;
            gap: 2.5vh;

            label {
                color: #2c2c2c;
                text-align: right;
                font: normal normal bold 16px/24px Heebo;

                /* Mobile Support */
                @media (max-width: 768px) {
                    font: normal normal bold 10px/14px Heebo;
                }
            }

            input,
            textarea {
                border: 0;
                background: #e5eeff 0% 0% no-repeat padding-box;
                border-bottom: 4px solid #fdbd03;

                /* Mobile Support */
                @media (max-width: 768px) {
                    border-bottom: 3px solid #fdbd03;
                }
            }

            .contact-info {
                width: 100%;
                height: fit-content;

                display: flex;
                flex-direction: row-reverse;
                align-content: center;
                justify-content: center;
                gap: 2vw;

                /* Mobile Support */
                @media (max-width: 768px) {
                    flex-direction: column;
                }

                .full-name-area,
                .email-area {
                    width: 50%;
                    height: fit-content;

                    display: flex;
                    flex-direction: column;
                    align-content: flex-end;
                    justify-content: center;

                    /* Mobile Support */
                    @media (max-width: 768px) {
                        width: 100%;
                    }
                }

                input {
                    height: 50px;

                    /* Mobile Support */
                    @media (max-width: 768px) {
                        width: 100%;
                        height: 37px;
                    }
                }
            }

            .form-message {
                width: 100%;
                height: fit-content;

                display: flex;
                flex-direction: column;
                align-content: flex-end;
                justify-content: center;

                textarea {
                    width: 100%;
                    height: 143px;

                    resize: none;

                    /* Mobile Support */
                    @media (max-width: 768px) {
                        height: 106px;
                    }
                }
            }

            #submit-btn {
                width: 166px;
                height: 50px;

                color: #000000;
                text-align: center;
                letter-spacing: 0.33px;
                font: normal normal bold 22px/30px Heebo;

                align-self: flex-end;

                border-bottom: 0;
                background: #fdbd03 0% 0% no-repeat padding-box;

                /* Mobile Support */
                @media (max-width: 768px) {
                    width: 100%;
                    height: 37px;

                    letter-spacing: 0.23px;
                    font: normal normal bold 15px/21px Heebo;
                }
            }
        }
    }
}

.contact-us-area {
    width: fit-content;
    height: fit-content;

    display: flex;
    align-content: center;
    justify-content: center;

    gap: 1.5vw;
    margin-left: 2vw;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 100vw;
        margin: 0;
        gap: 5vw;

        /* Between elements below / after */
        margin-bottom: 10%;
    }

    .contact-option {
        width: 80px;
        height: 80px;

        display: flex;
        align-items: center;
        justify-content: center;

        border-radius: 50%;
        box-shadow: 0px 3px 6px #00000029;

        background: #fdbd03 0% 0% no-repeat padding-box;

        /* Mobile Support */
        @media (max-width: 768px) {
            width: 46px;
            height: 46px;
        }

        .image-logo {
            width: 32px;
            height: 32px;

            background-image: none;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            /* Mobile Support */
            @media (max-width: 768px) {
                width: 15px;
                height: 15px;
            }
        }

        &#facebook .image-logo {
            width: 40px;
            height: 40px;

            background-size: contain;
            background-image: url("./images/facebook_f.svg");

            /* Mobile Support */
            @media (max-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }
        &#instagram .image-logo {
            background-image: url("./images/instagram.svg");
        }
        &#linkedin .image-logo {
            background-image: url("./images/linked-in.svg");
        }
        &#phone .image-logo {
            background-image: url("./images/phone.svg");
        }
    }
}

.bottom-border-line {
    width: 51.5%;
    height: 18px;

    position: fixed;
    bottom: 0;
    left: 0;

    background: #fdbd03 0% 0% no-repeat padding-box;

    /* Mobile Support */
    @media (max-width: 768px) {
        width: 100vw;
        height: 10px;
    }
}
